* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif !important;
    font-size: 15px;
    line-height: 1.50;
    color: #666666
}
  .header-top {
    font-size: 12px;
    border-bottom: 1px solid #dadada;
}
a{
  color: #228b22;
}
a:hover{
   color: #228b22;
}
.list-inline >li {
  display: inline;
  padding-top: 10px;
  padding-left: 50px;
}
.float>li {
    float: left !important;
}
.list-inline {
    margin-top: 9px;
    margin-bottom: 8px;
}
.list li {
    padding: 5px 0;
}
.header-top-right ul li a {
    color: #777;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.paynow-btn {
    position: fixed;
    right: 23px;
    top: 35%;
    transform: rotateZ(-90deg);
    z-index: 1000;
    padding: 10px 33px;
    background: #fb9d17;
    border: none;
    color: #fff;
    font-size: 18px;
    transform-origin: right;
}
.nav>li>a:hover {
  text-decoration: none;
  background-color: #ffffff;
}
.nav>li {
  position: relative;;
 display: block;
}
.list {
  list-style: none;
  padding: 0;
}
.navbar-nav>li>a {
    padding: 10px;
}
  .dropdown-menu {
    min-width: 220px;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
   border: 1px solid #f1f1f1;
}
.dropdown-menu>li>a {
    padding: 12px 20px;
    font-size: 15px;
    color: #666666;
    border-bottom: 1px solid #f1f1f1;
    transition: none;
    width: 218px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
}
.dropdown-menu li a:hover {
  color: #228B22;
  background-color: #ffffff;
}
img {
    vertical-align: middle;
    margin: 20px;
}
.menu-bg {
  background: #228B22;
}
@media (max-width: 993px){
.menu-bg {
    background-color: #228B22;
}
}
.animated{
  animation-duration:1s;
  animation-fill-mode: both;
}
@media (min-width: 768px){
.navbar.navbar-default, .dark.header .navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}
}
.navbar.navbar-default{
  border-radius: 0;
}
.margin-0{
  margin: 0 !important;
}
.navbar{
  border: none;
}
@media (min-width: 768px){
.navbar-header {
    float: left;
    border: none;
}
}
.navbar-default .navbar-toggle {
    border-color: #ccc;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #999;
}
@media (min-width: 768px){
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
}
@media (min-width: 768px){
.main-navigation .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
.heading-services li {
   color: #ffffff;
    width: 11%;
    border-left: 1px solid #006400 ;
    margin: 0px ;
    text-align: center;
    min-height: 66px;
}
.heading-services li a{
  text-transform: capitalize !important;
  font-weight: bold;
  font-size: 13px !important;
  color: #ffffff !important;
  min-height: 66px;
}
.heading-services li a i {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
}
.heading-services li a:hover {
  background: #006400 !important;
}

@media screen and (max-width: 768px){
.heading-services li:first-child {
    width: 100%;
    border-left: none !important;
    height: 66px;
    color: #ffffff !important;
    background-color: #228B22;
}
.heading-services li:first-child a{
  color: #ffffff !important;
}
.heading-services li {
    margin: 0px !important;
    text-align: center;
    min-height: 66px;
    width: 100%;
    height: 100%;
}
.heading-services li a {
    text-transform: capitalize !important;
    font-size: 13px !important;
    color: #666666 !important;
    min-height: 66px;
  }
  .heading-services li a:hover{
    background: #ffffff !important;
  }
}
.current{
  background-color: #006400;
}
.navbar-default .navbar-nav>li>a {
    font-weight: 700;
    padding: 12px 20px 12px 19px;
    z-index: 102;
    border: 1px solid transparent;
    bottom: -1px;
    transition: none;
}
.page-intro {
    padding: 0px;
    border-bottom: none;
}
.page-intro {
    box-shadow: 0 -1px 2px rgba(0,0,0,0.06) inset;
    background-color: #f1f1f1;
}
@media screen and (min-width: 993px){
.breadcrumb {
    display: none;
}
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 13px;
    padding: 8px 0;
}
.pr-10 {
    padding-right: 10px;
}
@media (min-width: 768px){
.navbar.navbar-default, .dark.header .navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
}
 .navbar.navbar-default {
    border-radius: 0;
}
 .navbar {
    border: none;
}
.margin {
    margin: 0 0 0px !important;
}
.service-extend .current {
    background: #fff;
}
.service-extend li {
    float: none;
    display: table-cell;
    width: 1%;
    text-align: center;
    padding: 5px;
}
.page-intro .navbar-default .navbar-nav>li>a {
    font-size: 12px;
    text-transform: capitalize;
}
.main-container {
    padding: 40px 0;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.main-container h1 {
    font-size: 38px;
    font-weight: 700;
}
.main-container h1 {
    color: #343434;
    line-height: 1.2;
}
.separator {
    display: block;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px;
    background-color: #cccccc;
    position: relative;
    border: 1px solid #cccccc;
}
.separator:after {
    width: 30px;
    height: 5px;
    background: #333333;
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
}
.vertical.hc-tabs {
    margin: 40px 0;
}
.fadeInRightSmall {
    animation-name: fadeInRightSmall;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.main img {
    max-width: 100%;
    height: auto;
}
.hc-tabs .hc-tabs-top img {
    display: none;
}
.space-bottom {
    padding-bottom: 20px;
}
0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
}
100% {
    opacity: 1;
    transform: none;
}
.arrow {
    display: block;
    position: relative;
}
.arrow i {
    font-size: 96px;
    top: -62px;
    position: absolute;
    line-height: 1;
    z-index: 2;
    left: 50%;
    margin-left: -27px;
}
.arrow i:before {
    color: #fafafa;
    text-shadow: 0px -1px 1px #E9E9E9;
}
.vertical .nav-tabs {
    border-bottom-color: transparent;
    background-color: #999999;
}
.vertical .nav-tabs, .vertical .tab-content {
    display: table-cell;
    margin: 0;
    vertical-align: top;
}
.nav-tabs {
  border-bottom: 1px solid #f0f0f0;
}
.vertical .nav-tabs>li {
    float: none;
}
.vertical .nav-tabs>li.active>a, .vertical .nav-tabs>li.active>a:hover, .vertical .nav-tabs>li.active>a:focus {
    box-shadow: -1px 0px 1px rgba(0,0,0,0.04);
    border-right-color: transparent;
    border-bottom-color: #f0f0f0;
    color: #666666;
    z-index: 2;
    width: 101%;
}
.vertical .nav-tabs>li>a:hover {
    border-color: #f0f0f0 #f0f0f0 #ebebeb;
    border-right-color: transparent;
    color: #666666;
    z-index: 2;
}
.vertical .nav-tabs>li {
    float: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: inherit;
}
.vertical .nav-tabs>li a {
    margin: 0;
    padding: 15px 40px;
    white-space: nowrap;
    color: #ffffff;
    border-bottom: 1px solid #8f8f8f;
}
.nav-tabs>li.active>a, {
  background-color: #fafafa;
    border: 1px solid #f0f0f0;
}
.nav-tabs>li>a {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0px;
    position: relative;
}
.nav-tabs>li.active>a:after, .tab-content:after {
    background-color: #006400;
}
.nav-tabs>li.active>a:after {
    width: 3px;
    content: "";
    background-color: #e84c3d;
    height: 103%;
    position: absolute;
    left: 0;
    top: 0;
}
.vertical .tab-content {
    border-top: 1px solid #f0f0f0;
    box-shadow: 1px 0px 1px rgba(0,0,0,0.04);
    left: -1px;
    z-index: 1;
    padding: 20px 30px;
}
.tab-content {
    border: 1px solid #f0f0f0;
    position: relative;
    background-color: #fafafa;
}
.tab-content:after {
    width: 3px;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.tab-content h1 {
    font-size: 34px;
    font-weight: 700;
    color: #343434;
    line-height: 1.2;
}
@media (min-width: 992px){
.title {
    margin-top: 0;
}
}
.justify p {
    text-align: justify;
}
p {
    margin-bottom: 20px;
}
#footer {
  color: rgb(102,102,102);
  display: block;
}
.footer{
  font-size: 14px;
  color: #999999;
  padding: 30px 0;
  background-color: #262626;
}
.space-bottom {
    padding-bottom: 20px;
}
.footer h2 {
    font-size: 24px;
    margin-bottom: 30px ;
    line-height: 1.2;
    margin-top: 20px;
  }
}
.link {
    padding-right: 23px;
    position: relative;
    display: inline-block;
    text-align: right;
}
.link:after {
    content: "\f178";
    font-family: "FontAwesome";
    position: absolute;
    
    top: 225px;
}
.nav-pill {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-pill>li>a {
    position: relative;
    display: inline-block;
    color: inherit;
}
.nav-pill>li>a:hover{
  background-color: inherit;
}
.list li {
  list-style-type: none;
}
@media only screen and (max-width: 992px){
  .subfooter{
    text-align: center;
  }
}
.subfooter {
    font-size: 14px;
}
.subfooter {
  padding: 25px 0;
    background-color: #000000;
  }   
  

.mb-10 {
    margin-bottom: 10px;
}
.subfooter p{
  margin: 0;
}
.footer-menu li {
    padding: 0;
    margin: 0;
}
.footer-menu li{
    display: inline;
    padding: 0;
    margin: 0;
}
    
.subfooter ul{
  list-style: square;
}

ul.footer-menu {
  display:block;
  list-style-type: none;
}
.footer-menu li a {
  border-right: 1px solid;
  padding: 0 10px 0 10px;
  color: #666666;
}
.footer-menu li a:hover {
  color: green;
}
@media only screen and (max-width: 992px){
.ta-c {
    text-align: center;
}
}
.footer-menu {
    padding: 0;
    margin: 0;
}
.footer-menu li {
    display: inline;
    padding: 0;
    margin: 0;
}
@media (max-width: 992px) {
.navbar-nav {
    float: none !important;
}
}
@media only screen and (max-width: 992px) {
.margin-hd {
    margin: 0px -15px;
}
}
